*{
    margin: 0px;
}
body{
    background-color: rgb(58, 6, 96);
}
.bg{
    display: flex;
   
}
.box1{
    width: 200px;
    height: 790px;
    background-color:black;
    color: white;
}

.ttx{
     font-style: italic;
   margin-top: 20px;
    margin-left: 50px;
}
#c2,.c2{
    color: goldenrod;
}
#c5,.c5{
    color: red;
}

.con1{
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 40px;
   
}
.con1:hover{
    cursor: pointer;
   
}
a{
    text-decoration:none;
    color: white;
}
.box2{
    margin: 40px;
    height: 400px;
    color: white;

}
.whbox{
    display: flex;
    flex-basis: 250px;
   gap: 20px;
   margin-left: 200px;
   margin-top: 200px;
    
}
.para{
    width: 200px; 
    
    height: 140px;
    background-color:white;
    color: black;
   border-radius: 20px;
   
}
.p1{
    margin: 15px;
   display: flex;
   flex-basis: 250px;
   flex-direction: column;
   gap: 20px;
}
.para:hover{
    cursor: pointer;
    transition: 0.8s;
    transform: scale(1.05);
    box-shadow: 0px 2px 20px yellow;
}
@media (max-width:400px)
{

     .ttx{
        margin-left: 30px;
    }
    .box1{
         width: 180px;
    height: 770px;
    }
    .whbox{
flex-direction: column;
 margin-left: 0px;
   margin-top: 70px;
    }
}