*{
    margin: 0px;
}
.bg{
    display: flex;
}
.box1{
    width: 200px;
    height: 800px;
    background-color: rgb(95, 87, 87);
    color: white;
    flex-basis: 200px;
   

}
.top{
    background-color: #530f84;
    color: white;
    font-style: italic;
    height: 40px;
}
.ttx{
   
    margin-left: 70px;
}
.con1{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 40px;
   
}
.con1:hover{
    cursor: pointer;
    background-color: gray;
}
a{
    text-decoration:none;
    color: white;
}
.box2{
    margin: 50px;
}

.image{
   
    display: flex;
     gap: 50px;
     margin: 200px;
    
}
.img1{
     width: 200px;
    height: 220px;
   
}
.txt{
    margin-left: 80px;
}
.img1:hover{
    transition: 1.5s;
    box-shadow: 0px 2px 15px red;
    transform: scale(1.01);
}