*{
    margin: 0px;
}
body{
    background-color: rgb(58, 6, 96);
}
.bg{
    display: flex;
   
}
.box1{
    width: 200px;
    flex-basis: 200px;
    height: 790px;
    background-color: black;
    color: white;
    flex-basis: 200px;

}

.ttx{
     font-style: italic;
   margin-top: 20px;
    margin-left: 50px;
}
#c3,.c3{
    color: goldenrod;
}
#c5,.c5{
    color: red;
}
.con1{
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 40px;
   
}
.con1:hover{
    cursor: pointer;
   
}
a{
    text-decoration:none;
    color: white;
}
.box2{
   margin: 40px;
    color: white;
    width: 800px;
    height: 500px;
}

.image{
   
    display: flex;
     gap: 50px;
    margin-top: 200px;
    margin-left: 90px;
    
}
.img1{
   
    color: white;
    text-align: center;
   
}
.txt:hover{
    transition: 0.8s;
    box-shadow: 0px 2px 25px white;
    transform: scale(1.05);
}
@media (max-width:400px)
{

    .box1{
         width: 180px;
    height: 770px;
    }
    .image{
        flex-direction: column;
        gap: 30px;
         margin-top: 20px;
    margin-left: 0px;
    }
    .txt{
        width: 200px;
        height: 150px;
    }
    .ttx{
        margin-left: 30px;
    }

}
