*{
    margin: 0px;
}
.bg{
    display: flex;
}
.box1{
    width: 200px;
    height: 800px;
    background-color: rgb(95, 87, 87);
    color: white;
    flex-basis: 200px;
   

}
.top{
    background-color: #530f84;
    color: white;
    font-style: italic;
    height: 40px;
}
.ttx{
   
    margin-left: 70px;
}
.con1{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 40px;
   
}
.con1:hover{
    cursor: pointer;
    background-color: gray;
}
.b1 {
   
    display: grid;
   grid-template-columns: 100px ;
   grid-template-rows: 100px;
    background-color: lightblue;
  margin-right: 20px;
   
   
}
a{
    text-decoration:none;
    color: white;
}
.box2{
    margin: 30px;
}
.abtbg{
    background-color: gray;
    margin-left: 150px;
    margin-top: 120px;
    width: 750px;
    height: 350px;
    border-radius: 20px;
    border-width:2px;
    border-color: black;
    border-style:dashed ;
}
.abt{
   display: flex;
   flex-direction: column;
   gap:25px;
    padding: 40px;
}
.abtbg:hover{
    cursor: pointer;
    transition: 1.5s;
    transform: scale(1.05);
    box-shadow: 0px 2px 15px goldenrod;
}